<h2>Order a Sandwich!</h2>

<%= form_tag :sandwiches do %>
	<%= text_field_tag :sender, nil, placeholder: "Your email" %><br>
	<%= password_field_tag :password, nil, placeholder: "Password" %><br>
	<%= text_field_tag :receiver, nil, placeholder: "Sandwich maker's email" %><br>
	
	<% @items.each do |item| %>
	<%= label_tag item %>
	<%= check_box_tag "items[#{item}]", 'yes' %><br>
	<% end %>

	<%= submit_tag %>
<% end %>





